<!DOCTYPE html>
<html>
  <head>
    <title>פרופסור משה בר ז"ל</title>
    <meta property="og:title" content='פרופסור משה בר ז"ל' />    
    <meta property="og:url" content="moshe-beer.herokuapp.com" />
    <meta property="og:site_name" content='פרופסור משה בר ז"ל' />
    <meta property="og:type" content="website" />
    	
	<% og_image = "#{@s3}/og_image.jpg" %>
    <meta property="og:image" content="<%= og_image %>" />

    <link rel="apple-touch-icon" sizes="57x57" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= og_image %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= og_image %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= og_image %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= og_image %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= og_image %>">        
    <%= csrf_meta_tags %>

    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
